{% extends 'base.html' %}
{% load humanize %}

{% block title %}
  {{ event.name }} - {{ block.super }}
{% endblock title %}

{% block content %}
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ event.name }}</h5>
        {% if event.subtitle %}<h6 class="card-subtitle mb-2 text-muted">{{ event.subtitle }}</h6>{% endif %}
        <p class="card-text">{{ event.description }}</p>
      </div>
    </div>
  </div>
  <a href="{% url 'home' %}">Back to all events</a>
{% endblock content %}
